!!! 5
%html
  %head
    %title Ruby on Rails Tutorial Sample App | Contact
  %body
    %h1 Contact
    %p
      :markdown
        Contact Ruby on Rails Tutorial about the sample app at the
        [feedback page](http://railstutorial.org/).
