%h1 Contact
:markdown
  Contact Ruby on Rails Tutorial about the sample app at the
  [feedback page](http://railstutorial.org/). Also, note that when you insert
  a :markdown filter, haml will automatically wrap that content in a paragraph
  tag!
